[submodule "PartialBenchmarks"]
	path = PartialBenchmarks
	url = https://github.com/LydiaStefanova-NOAA/PartialBenchmarks.git
[submodule "ice_scoring"]
	path = ice_scoring
	url = https://github.com/rgrumbine/ice_scoring.git
[submodule "CompareRunsRegTest"]
	path = CompareRunsRegTest
	url = https://github.com/LydiaStefanova-NOAA/CompareRunsRegTest.git
